fastapi
uvicorn
openai
langchain
langchain-community
langchain-openai
sqlparse
pydantic
python-dotenv
cryptography
requests
pydantic-settings
loguru
sqlalchemy
langchain_core
langgraph
qdrant_client
pymupdf